@import 'variables';

.row.max span{
    color: $secondary-color;
}

.row.min {
    span {
        color: #tirtiary-color;

        &.error {
            color: $error-color;
        }
    }

}

div.title-area {
    overflow: auto;
    clear: both;

    .review-shortcuts {
        float: left;

        a {
          margin: 0 10px;
        }

        .previous {
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg);
        }
    }

    .transaction-actions {
        float: right;
        margin-right: 30px;

        .transaction-dropdown {
          float: right;
          display: block;
        }

        ul {
          display: block;
          position: absolute;
          overflow: visible;
          padding: 17px;
          background: white;
          margin: 5px 0px 0px;
          outline: 1px solid gray;
          width: 171px;
        }

        ul.collapsed {
          display: none;
        }
    }
}
