<div class="row">
<span class="button-wrapper">
    <a href="#" id="recurrence-link" class="primary button recurrence{{#if timeframe}} enabled{{/if}}">Recurring</a>
</span>

<span class="dropdown-wrapper">
</span>
</div>
