<h4>Buttons</h4>
<div class="row">
  <a href="#" class="button primary">Submit</a>
  <a href="#" class="button secondary">Cancel</a>
</div>
<h4>Links</h4>
<div class="row">
  <a href="/">Home</a>
</div>
<h4>Colors</h4>
<div class="row">
    <div class="primary-background"   style="height:100px; width:100px; float: left; margin-right: 10px;"></div>
    <div class="secondary-background" style="height:100px; width:100px; float: left; margin-right: 10px;"></div>
    <div class="tirtiary-background"  style="height:100px; width:100px; float: left; margin-right: 10px;"></div>
    <div class="quaternary-background" style="height:100px; width:100px; float: left; margin-right: 10px;"></div>
    <div class="quinary-background"   style="height:100px; width:100px; float: left; margin-right: 10px;"></div>
    <div class="senary-background"    style="height:100px; width:100px; float: left; margin-right: 10px;"></div>
</div>
